body {
    background-color: #000;
    color: #FFF!important;
}
.button, h1, h2, input[type="submit"] {
    color:hotpink!important;
}

h1, h2 {
    font-variant: small-caps!important;
}

.credit {
    font-size: 10px;
}
